extends ../index.pug

block variables
    - var template = 'threejs'

block content
    .threejs
        .threejs__intro
            .threejs__intro__text Scroll (Slowly)
        .threejs__story
    .threejs__canvas__container
    a.Threejs__intro__sound Click to turn Sound On